<h1> Convert <%= @curr_1 %></h1>

<p>Go 
  <a href="/">back</a>.
  <ul>
    <% @symbol_hash.each do |key, value|%>
      <li>
       <a href="/<%= @curr_1 %>/<%= key %>"> 
        <%= "Convert 1 #{@curr_1} to #{key}..." %> 
      </a>
      </li>
    <% end %>
  </ul>
</p>
